.cool-class {
  background: green;
  background-clip: text;
}
.another-cool-class {
  background: yellow;
}
.added-another-class {
  background: red;
  background-clip: text;
}
.added-more-classes {
  text: green;
}
